<ion-view view-title="My Diary Entries">
  <ion-content>
<div class="list">
  <!--<label class="item item-input">
    <input type="text" placeholder="CURRENT PASSWORD">
  </label>-->
  <label class="item item-input">
    <input type="text" placeholder="NEW PASSWORD">
  </label>
  <label class="item item-input">
    <input type="password" placeholder="RETYPE PASSWORD">
  </label>
    <label class="item">
          <button class="button button-block button-positive" ng-click="Login(logInData)"type="submit">Submit</button>
    </label>

</div>
    </ion-content>
</ion-view>