<ion-view view-title="My Post">
  <ion-content>
      <div class="list list-inset">
          
          <div align="center">Date here please</div>
          
    <label class="diary item item-input">
          <input type="text" id="title" placeholder="Update Title" />
      </label>

  <label class="diary item item-input">
      <textarea  rows="20" cols="50" type="text" placeholder="Update Contents"></textarea>
  </label>
       
      <label class="item item-input">
          <input type="file" id="" multiple="multiple" />
      </label>

    <button class="button button-block button-positive" ng-click="Login(logInData)"type="submit">Update</button>
      </div>
  </ion-content>
</ion-view>
