ion-content{
    background-image: url(../img/bg1/jpg)
}

#logo{
    height: auto;
    width: 250px;
    margin-top: 20px;
    
}

#logo2{
    height: 50px;
    width: 200px;
    margin-top: 10px;
    
}

